server.port={{getv "/microservices_template/database/port"}}
spring.datasource.url=jdbc:mysql://{{getv "/microservices_template/database/host"}}:{{getv "/microservices_template/database/port"}}/{{getv "/microservices_template/database/name"}}
spring.datasource.username={{getv "/microservices_template/database/user"}}
spring.datasource.password={{getv "/microservices_template/database/password"}}

flyway.user={{getv "/microservices_template/database/user"}}
flyway.password={{getv "/microservices_template/database/password"}}
flyway.schemas={{getv "/microservices_template/database/name"}}
flyway.url=jdbc:mysql://{{getv "/microservices_template/database/host"}}:{{getv "/microservices_template/database/port"}}/{{getv "/microservices_template/database/name"}}
flyway.locations=filesystem:db/migration